 {% extends 'base.html' %}
 {% load static %}


 {% block addHead %}
 <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
 <script src="{% static 'chat/js/chat.js' %}"></script>
 {% endblock %}

 {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Chat</strong></h4>
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        {% for message in messages %}
                        {% if message.sender == 'me' %}
                        <div class="media media-chat media-chat-reverse">
                            <div class="media-body">
                                <p><small>{{message.author_name}}</small></br>{{message.messageText}}</p>
                                <p class="meta" ><time datetime="2018"><span class="timeSpan"><small>{{message.pub_date}}</small></span></time></p>
                            </div>
                        </div>
                        {% else %}
                        <div class="media media-chat media-chat">
                            <div class="media-body">
                                <p><small>{{message.author_name}}</small></br>{{message.messageText}}</p>
                                <p class="meta" ><time datetime="2018"><span class="timeSpan">00:13</span></time></p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div id="lastMessage"></div>

                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> {% csrf_token %} <input class="publisher-input" id="messageInput" name="messageText" type="text" placeholder="Write something"> <span class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> <input type="file"> </span> <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a> <a class="publisher-btn text-info" id="sendMessage" data-abc="true"><i class="fa fa-paper-plane"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
    const username = "{{username}}";
    const url = "{% url 'chatView' chatId %}";
    let sendTimeCount = 0;
 </script>
 <script src="{{static}}chat/js/chat.js"></script>
 {% endblock %}